@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev {
  color: #000000 !important;
}

.swiper-button-prev:after {
  content: "\2190" !important;
  display: none !important;
}

.swiper-button-next {
  color: #000000 !important;
}

.swiper-button-next:after {
  content: "\2192" !important;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in-from-bottom {
  animation: slideInFromBottom 1.5s ease-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-from-right {
  animation: slideInFromRight 1s ease-out;
}
